<div class="thin-box">
	<p><strong>wtf is this?</strong></p>

	<p>
		this site lets you make bets with other people with real money.
		the winner is determined by a flip of the coin. (python's random() to be exact)
		you can also choose to put in an email address and let the owner of that
		address decide.
	</p>

	<p><strong>what? is this real?</strong></p>
	
	<p>
		yes. this site uses WePay.com's <a href="https://www.wepay.com/developer" target="_blank">API</a>
		to process credit card or bank account payments and then credits the winner's
		WePay account with the winnings.
	</p>
	
	<p><strong>how is that supposed to work?</strong></p>
	
	<p>
		on the home page, you can click on "make a bet" and then enter an amount. this
		doesn't move any money. it just makes an advertisement that you'd like to
		bet with someone.
	</p>
	
	<p><strong>that doesn't explain anything</strong></p>
	<p>
		other users will see your bet appear on their "available bets"
		section. if they click "game on" next to your bet, they are sent to wepay to make
		their payment.
	</p>
	
	<p><strong>and then i just get the money?</strong></p>
	<p>
		not quite. their payment is actually in "escrow" so you can't have it yet.
		the bet is now ready for you to make your payment. the bet will show up
		in the top section. if you click on "get lucky" you'll be sent to wepay to make
		your payment.
	</p>
	
	<p><strong>so i have to pay before i've even lost?</strong></p>
	<p>
		yes. there's no way to force someone to pay a bet after they lose, so this is
		how it works. after you make your payment, a coin is flipped and if it's
		heads then you win. (if random() > .5)
	</p>
	
	<p><strong>and then i get the money?</strong></p>
	<p>
		yes! the winner's payment will be cancelled (or refunded depending on how
		fast wepay processes it) and the loser's payment will move into the winner's
		account.
	</p>
	
	<p><strong>so what's an arbiter then?</strong></p>
	<p>
		if you don't like making bets on a random function, then you can choose
		an arbiter to decide the bet for you. all you have to do is put their
		email address in the optional box and they will get an email after both
		parties have anted up their bets. the email they receive will have
		special links that will let them decide the winner.
	</p>

	<p><strong>this is really dumb</strong></p>
	<p>
		tell me about it! bryce@moneytowaste.appspotmail.com
	</p>
</div>